img {
    height: 20px;
}
.challenge-containers {
    margin-top: 70px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 12px;
}

.challenge-box {
    min-width: 0;
    margin: auto;
    display: flex;
    width: 400px;
    height: 50px;
    border: solid 2px #9a40aa;
    justify-content: space-between;
    background-color: #F0E4F2;
    border-radius: 10px;
}

.date {
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
}

.challenge {
    display: flex;
    align-items: center;
}

.stars {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.stars img {
    margin-bottom: 6px;
}