.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
    display: flex;
    justify-content: flex;
    align-items: center;
    background-color: lightblue;
    padding:0;
    margin:0;
    height: 50px;
    width: 100%;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.nav-bar .count{
    margin:0 4px; 
}
.nav-bar img {
  height: 30px;
  width: auto;
}
